src/main/resources/wsdls/sports_v0.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.hr.org/sports_v0.1/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="sports_v0.1" 
	targetNamespace="http://www.hr.org/sports_v0.1/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hr.org/sports_v0.1/">
      <xsd:element name="getKabbadi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKabbadiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getKabbadiRequest">
    <wsdl:part element="tns:getKabbadi" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getKabbadiResponse">
    <wsdl:part element="tns:getKabbadiResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SportsServicePortType">
    <wsdl:operation name="getKabbadi">
      <wsdl:input message="tns:getKabbadiRequest"/>
      <wsdl:output message="tns:getKabbadiResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SportsServiceBinding" type="tns:SportsServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getKabbadi">
      <soap:operation soapAction="getKabbadi"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportsService">
    <wsdl:port binding="tns:SportsServiceBinding" name="SportsServicePort">
      <soap:address location="http://www.hr.org/SportsService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
